.slide__item-seven{
    background: linear-gradient(180deg, rgba(227, 140, 225, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #FFFEFE;
    &-pic{
        /* Оформление */ 
        background-image: url('../../img/sixth-pic.jpg');
    }
}

@media (max-width: 550px){
    .slide{
        &__item-seven{
            &-pic{
                /* Оформление */ 
                background-position-y: -130px;
            }
        }
    }
}