.slide{
    &__item-five{
        /* Позиционирование */
        position: relative;
        /* Оформление */
        background: linear-gradient(180deg, rgba(241, 116, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #FFFEFE;
        &-pic{
            /* Блочная модель */
            width: 50%;
            /* Оформление */
            background-image: url('../../img/fifth-pic.jpg');
        }
    }
    &__title-five{
        /* Позиционирование */
        position: absolute;
        left: 33%;
        z-index: 2;
        top: 0;
        /* Блочная модель */
        width: 590px;
    }
    &__content-five{
        /* Блочная модель */
        width: 50%;
        padding-top: 170px;
    }
}


@media (max-width: 992px){
    .slide{
        &__title{
            &-five{
                /* Блочная модель */
                width: 400px !important;
            }
        }
    }
}

@media (max-width: 780px){
    .slide{
        &__title{
            &-five{
                /* Позиционирование */
                left: 25% !important;
            }
        }
    }
}

@media (max-width: 680px){
    .slide{
        &__title{
            &-five{
                /* Позиционирование */
                left: 25% !important;
                top: 40px;
                /* Блочная модель */
                width: 300px !important;
            }
        }
        &__paragraph{
            &-five{
                /* Блочная модель */
                margin-top: 45px;
            }
        }
    }
}

@media (max-width: 550px){
    .slide{
        &__title{
            &-five{
                /* Позиционирование */
                top: 60px;
                /* Блочная модель */
                width: 220px !important;
                /* Типография */
                font-size: 25px !important;
                line-height: 27px !important;
            }
        }
        &__content-five{
            /* Блочная модель */
            width: 100% !important;
            padding-top: 115px !important;
        }
        &__item-five{
            &-pic{
                /* Блочная модель */
                width: 100%;
                height: 45%;
                /* Оформление */
                background-position-y: -190px;
                transform: scaleX(-1);
            }
        }
    }
}

@media (max-width:380px) and (min-height: 650px){
    .slide{
        &__item-five{
            &-pic{
                /* Оформление */
                background-position-y: -135px;
            }
        }
    }
}

@media (max-width: 650px) and (min-height: 350px){
    .slide{
        &__content-five{
            /* Блочная модель */
            padding-top: 35px !important;
        }
    } 
}

@media (min-width: 630px) and (max-height: 450px){ // для Pixel 2 горизонтально
    .slide{
        &__title-five{
            /* Типография */
            line-height: 35px;
        }
        &__content-five{
            /* Блочная модель */
            padding-top: 35px !important;
        }
    } 
}

@media (min-width: 566px) and (max-height: 370px){ // для iPhone5e горизонтально
    .slide{
        &__content-five{
            /* Блочная модель */
            padding-top: 35px !important;
        }
    } 
}



@media (max-width: 370px){
    .slide{
        &__title{
            &-five{
                /* Позиционирование */
                top: 50px;
                left: 15% !important;
                /* Типография */
                font-size: 22px !important;
            }
        }
        &__item-five{
            &-pic{
                /* Оформление */
                background-position-y: -135px;
            }
        }
        &__content-five{
            /* Блочная модель */
            padding-top: 35px !important;
        }
    }
}

@media (max-width: 380px){
    .slide{
        &__title{
            &-five{
                /* Позиционирование */
                top: 50px;
                left: 15% !important;
                /* Типография */
                font-size: 25px !important;
                line-height: 23px !important;
            }
        }
    }
}