.abc{
    /* Позиционирование */
    position: relative;
    /* Блочная модель */
    max-width: 100%;
    margin: auto;
}

.slide{
    /* Позиционирование */
    position: relative;
    /* Блочная модель */
    height: 100vh;
    display: flex !important;
    &__item{
        &-standart{
            /* Блочная модель */
            display: flex;
            @media screen and (min-width: 993px){
                /* Блочная модель */
               align-items: center;
            }
        }
        &-halfpic{
            /* Позиционирование */
            position: relative;
            /* Блочная модель */
            height: 100%;
            width: 35%;  
            /* Оформление */      
            background-size: cover;
            &:before{
                /* Позиционирование */
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                /* Блочная модель */
                height: 100%; 
                width: 100%;
                content: "";
                /* Оформление */
                background-color: black;
                opacity: 0.25;
            }
        }
    }

    &__content{
        &-standart{
            /* Блочная модель */
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &__title{
        /* Типография */
        font-family: PT Serif;
        font-style: italic;
        font-weight: normal;
        font-size: 42px;
        line-height: 56px;
        text-align: center;
        &-last{
            /* Типография */
            font-size: 26px;
        }
    }

    &__line{
        /* Блочная модель */
        width: 80%;
        height: 0px;
        border: 1px solid #000000;
        margin-bottom: 15px;
        &_mobile{
            @media screen and (min-width: 992px){
                /* Блочная модель */
                display: none !important;
            }
        }
    }

    &__paragraph{
        &-standart{
            /* Блочная модель */
            width: 80%;
            margin-bottom: 5px;
            /* Типография */
            font-family: PT Serif;
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 23px;
            line-height: 20px;
        }
    }
    &__list{
        &-standart{
             /* Блочная модель */
            width: 80%;
            /* Типография */
            font-family: PT Serif;
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 23px;
            &-all{
                padding-left: 0;
                width: 75%;
            }
        }

    }
    &__subtitle{
        &-last{
            /* Типография */
            font-size: 26px;
            /* Оформление */
            color: white;
        }
    }
}

@media (max-width: 992px){
    .slide{
        /* Блочная модель */
        min-height: 102vh;
        max-height: 105vh;
        &__title{
            /* Типография */
            font-size: 40px;
        }
        &__item{
            &-standart{
                /* Блочная модель */
                justify-content: center;
                align-items: center;
            }
            &-halfpic{
                /* Блочная модель */
                display: none !important;
            }
        }
        &__paragraph{
            &-standart{
                /* Типография */
                font-size: 18px;
            }
        }
        &__list{
            &-standart{
                /* Типография */
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 790px){
    .slide{
        &__paragraph{
            &-standart{
                /* Типография */
                font-size: 17px;
                line-height: 18px;
            }
        }
        &__list{
            &-standart{
                /* Типография */
                line-height: 19px;
            }
        }
    }
}

@media (max-width: 680px){
    .slide{
        &__content{
            &-standart{
                /* Блочная модель */
                width: 55%;
            }
        }
        &__title{
            /* Типография */
            font-size: 36px;
            line-height: 40px;
        }
    }
}


@media (max-width: 550px){
    .slide{
        &__item-standart{
            /* Блочная модель */   
            flex-direction: column-reverse;
        }
        &__item-halfpic{
            /* Блочная модель */
            width: 100%;
            height: 35%;
        }
        &__content-standart{
            /* Блочная модель */
            width: 100%;
            height: 100%;
        }
        &__title{
             /* Блочная модель */
            width: 220px;
            /* Типография */
            font-size: 25px;
            line-height: 27px;
        }
        &__paragraph-standart{
            /* Блочная модель */
            margin-bottom: 5px;
            /* Типография */
            font-size: 17px ;
            line-height: 20px;
        }
    }
}

@media (max-width: 550px) and (min-height: 600px){
    .slide{
        &__item-standart{
            /* Блочная модель */
            flex-direction: column-reverse;
        }
        &__item-halfpic{
            /* Блочная модель */
            width: 100% ;
            height: 35% ;
        }
        &__content-standart{
            /* Блочная модель */
            width: 100% ;
            height: 100%;
        }
        &__title{
            /* Блочная модель */
            width: 220px ;
            /* Типография */
            font-size: 25px ;
            line-height: 27px ;
        }
        &__paragraph-standart{
            /* Типография */
            font-size: 17px ;
            line-height: 17px ;
        }
    }
}

@media (max-width: 440px){
    .slide{
        &__item-standart{
            /* Блочная модель */
            flex-direction: column-reverse;
        }
        &__item-halfpic{
            /* Блочная модель */
            width: 100%;
            height: 35%;
        }
        &__content-standart{
            /* Блочная модель */
            width: 100%;
            height: 100%;
        }
        &__title{
            /* Блочная модель */
            width: 220px;
            /* Типография */
            font-size: 25px;
            line-height: 27px;
        }
        &__paragraph-standart{
            /* Типография */
            font-size: 14px ;
        }
        &__list{
            &-standart{
                /* Типография */
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 380px){
    .slide{
        /* Блочная модель */
        min-height: 100vh;
        max-height: 150vh;
        &__title{
            /* Типография */
            font-size: 20px;
            line-height: 20px;
        }
        &__paragraph{
            &-standart{
                /* Типография */
                line-height: 15px;
                font-size: 12px ;
            }
        }
        &__list-standart{
            /* Типография */
            font-size: 13px ;
            line-height: 15px;
        }
    }
}

@media (max-width: 650px) and (min-height: 350px){
    .slide{
        &__title{
            /* Типография */
            font-size: 24px;
            line-height: 26px;
        }
        &__paragraph{
            &-standart{
                /* Типография */
                line-height: 20px;
                font-size: 12px ;
            }
        }
        &__list-standart{
            /* Типография */
            line-height: 18px;
            font-size: 12px;
        }
    } 
}

@media (min-width: 630px) and (max-height: 450px){ // для Pixel 2 горизонтально
    .slide{
        &__title{
            font-size: 25px;
            line-height: 27px;
        }
        &__paragraph-standart{
            // line-height: 14px;
            font-size: 13px ;
        }
        &__list-standart{
            /* Типография */
            font-size: 12px;
            line-height: 16px;
        }
    } 
}

@media (min-width: 566px) and (max-height: 370px){ // для iPhone5e горизонтально
    .slide{
        &__title{
            /* Типография */
            font-size: 21px;
            line-height: 17px;
        }
        &__paragraph{
            &-standart{
                /* Типография */
                line-height: 11px;
                font-size: 11px ;
                
            }
        }
        &__list-standart{
            /* Типография */
            font-size: 9px;
            line-height: 18px;
        }
    } 
}

@media (max-width: 377px) and (max-height:680px){  // Для GalaxyX5
    .slide{
        &__paragraph{
            &-standart{
                /* Типография */
                line-height: 18px;
                font-size: 13px ;
            }
        }
    }
}

@media (max-width: 377px) and (max-height:650px){  // Для GalaxyX5
    .slide{
        &__paragraph{
            &-standart{
                /* Типография */
                line-height: 18px;
                font-size: 13px ;
            }
        }
    }
}

@media (max-width: 377px) and (max-height:580px){  // Для iPhone 5
    .slide{
        &__paragraph{
            &-standart{
                /* Типография */
                line-height: 18px;
                font-size: 11px ;
            }
        }
    }
}

@media (min-width: 550px) and (max-height: 450px){ // для iPhone6s горизонтально
    .slide{
        &__paragraph{
            &-standart{
                /* Типография */
                font-size: 11px !important ;
            }
        }
    } 
}