.slide{
    height: 100vh;
    position: relative;
    &__item{
        &-standart{
            display: flex;
        }
        &-halfpic{
            height: 100%;
            width: 35%;        
            background-size: cover;
            position: relative;
            &:before{
                /* Позиционирование */
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                /* Блочная модель */
                height: 100%; 
                width: 100%;
                content: "";
                /* Оформление */
                background-color: black;
                opacity: 0.25;
            }
        }
    }

    &__content{
        &-standart{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__title{
        font-family: PT Serif;
        font-style: italic;
        font-weight: normal;
        font-size: 42px;
        line-height: 56px;
        text-align: center;
        &-last{
            font-size: 26px;
        }
    }

    &__line{
        /* Блочная модель */
        width: 80%;
        height: 0px;
        border: 1px solid #000000;
    }

    &__paragraph{
        &-standart{
            font-family: PT Serif;
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 23px;
            width: 80%;
        }
    }
    &__list{
        &-standart{
            font-family: PT Serif;
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 23px;
            width: 80%;
            &-all{
                padding-left: 0;
                width: 75%;
            }
        }

    }
}