.slide{
    &__item-eight{
        /* Позиционирование */
        position: relative;
        /* Оформление */
        background: linear-gradient(180deg, rgba(227, 140, 225, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #FFFEFE;
        &-pic{
            /* Блочная модель */
            width: 50%;
            /* Оформление */
            background-image: url('../../img/seven-pic.jpg');
        }
    }
    &__title-five{
        /* Позиционирование */
        position: absolute;
        left: 33%;
        z-index: 2;
        /* Блочная модель */
        width: 590px;
    }
    &__content-five{
        /* Блочная модель */
        width: 50%;
        padding-top: 170px;
    }
}

@media (max-width: 550px){
    .slide{
        &__item-eight{
            &-pic{
                /* Блочная модель */
                width: 100%;
                height: 45%;
                /* Оформление */
                background-position-y: -190px;
            }
        }
    }
}

@media (max-width:420px) and (min-height: 700px){
    .slide{
        &__item-eight{
            &-pic{
                /* Оформление */
                background-position-y: -140px;
            }
        }
    }
}

@media (max-width:380px) and (min-height: 650px){
    .slide{
        &__item-eight{
            &-pic{
                /* Оформление */
                background-position-y: -140px;
            }
        }
    }
}

@media (max-width: 370px){
    .slide{
        &__item-eight{
            &-pic{
                /* Оформление */
                background-position-y: -100px;
            }
        }
    }
}