.slide__item-two{
    /* Оформление */
    background: linear-gradient(180deg, rgba(40, 11, 47, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #FFFEFE;
    &-pic{
        /* Оформление */
        background-image: url('../../img/second-pic.jpg');
        transform: scaleX(-1);
    }
}

@media (max-width: 550px){
    .slide{
        &__item-two{
            &-pic{
                /* Оформление */
                background-position-y: -200px;
            }
        }
    }
}

@media (max-width: 370px){
    .slide{
        &__item-two{
            &-pic{
                /* Оформление */
                background-position-y: -115px;
            }
        }
    }
}