.slide__item-four{
    background: linear-gradient(180deg, rgba(146, 57, 144, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #FFFEFE;
    &-pic{
        background-image: url('../../img/forth-pic.jpg');
    }
}

@media (max-width: 992px){
    .slide{
        &__title{
            &-four{
                width: 390px;
            }
        }
    }
}

@media (max-width: 680px){
    .slide{
        &__title{
            &-four{
                width: 290px;
            }
        }
    }
}

@media (max-width: 550px){
    .slide{
        &__item-four{
            &-pic{
                background-position-y: -150px;
            }
        }
    }
}