.information{
    height: 600px;
    // background-image: url('../../img/luxfon.com_18998.jpg');
    background-image: url('../../img/spac-234.jpg');
    background-size: cover;
    background-position-y: 605px;
    position: relative;
    &:before{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        // background: rgba(0, 0, 0, .55);
        // background: rgba(59, 72, 217, 0.4);
        background: rgba(93, 113, 194, 0.3);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__title{
        padding-top: 50px;
        font-family: 'Poppins';
        background: transparent;
        // color: black;
        color: #f4f4f4;
        position: relative;
        font-size: 40px;
        width: 48%;
        margin: auto;
    }
    &__list{
        position: relative;
        // color: black;
        color: #f4f4f4;
        // color: darken($color: #f4f4f4, $amount: 50);
        font-size: 22px;
        // display: flex;
        // flex-wrap: wrap;
        margin-top: 65px;
        &-element{
        margin-bottom: 20px;
        width: 60%;
        font-family: 'Lobster', cursive;
        font-size: 26px;
        }
    }
}